.THIS {
    height: 400px;
}

.THIS .slds-carousel {
    width: 200px;
    max-width: inherit;
}

.THIS .slds-carousel__image>img {
    width: 200px;
    max-height: 190px;
}

.THIS header {
    padding-bottom: 8px;
}

.THIS .content {
    padding-left: 24px;
}

.THIS .slds-progress {
    margin-top: 8px;
    margin-bottom: 30px;
}

.THIS .slds-carousel__content {
    display: none;
}

.THIS .title {
    padding-top: 4px;
}

.THIS .no-pic-msg {
    margin: 12px 0 24px 0;
}