.THIS {
    height: 400px;
}

.THIS header {
    padding-bottom: 8px;
}

.THIS .content {
    position: relative;
    width: 100%;
    padding-left: 24px;
}

.THIS .slds-progress {
    margin-top: 8px;
    margin-bottom: 36px;
}

.THIS lightning-datatable {
    position: absolute;
    left: 24px;
    right: 0;
}

.THIS .title {
    padding-top: 4px;
}

.THIS .slds-grid {
    margin-top: 0 !important;
}
