.THIS {
}

.THIS .slds-modal__container {
    height: 500px;
    width: 90%;
    max-width: initial;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.THIS .slds-modal {
}

.THIS .slds-modal__close {
    position: absolute;
    top: 100px;
    right: 5%;
}

.THIS .slds-card__body_inner .slds-grid {
    margin-top: 12px;
}
