.THIS {
    height: 300px;
    text-align: center;
}

.THIS .result {
    font-weight: 300;
    font-size: 20px;
    display: block;
    color: #0288D1;
    margin-top: 10px;
}

.THIS .input {
	margin:16px;
	text-align:left;
}