.THIS {
    /* height: 300px; */
    text-align: center;
    max-width: 300px;
    padding-bottom: 20px;
}

.THIS .result {
    font-weight: 300;
    font-size: 20px;
    display: block;
    color: #0288d1;
    margin-top: 10px;
}

.THIS .input {
    margin: 16px;
    text-align: left;
}
