.THIS .slider {
    margin: 40px auto 0 auto;
    max-width: 350px;
}

.THIS .noUi-connect {
  background: #0070D2;
}

.THIS .noUi-target,
.THIS .noUi-handle {
	box-shadow: none !important;    
}

.THIS .noUi-target {
    background: #FFFFFF;
    border: 1px solid rgb(216, 221, 230);
    border-radius: .25rem;
}