.THIS {
    padding-bottom: 8px;
}
.THIS .prediction {
    width: 60px;
    height: 60px;
    text-align: center;
    /* padding: 12px; */
    border: solid 3px #c23934;
    border-radius: 50%;
    color: #c23934;
    margin-bottom: 8px;
    /* margin: 8px auto; */
    font-size: 24px;
    /* font-weight: 300; */
}

.THIS .factors {
    border: solid 1px #EEE;
    border-radius: 4px;
    text-align: left;
	margin: 0 4px;
    padding: 8px;
    height: 96px;
}

.THIS .ring-red {
    width: 10px;
    height: 10px;
    border: solid 2px #c23934;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
}

.THIS .ring-green {
    width: 10px;
    height: 10px;
    border: solid 2px #04844b;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
}

.THIS .slds-card__body_inner {
    padding: 0 0.2rem;
    margin-bottom: .3rem;
}