.THIS {
    position: relative;
    height: 160px;
}

.THIS input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
}

.THIS input[type='range']::-webkit-slider-runnable-track {
    width: 500px;
    height: 2px;
    background: #32738e;
    border: none;
    border-radius: 3px;
}

.THIS input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 24px;
    width: 16px;
    border-radius: 2px;
    background: #32738e;
    margin-top: -10px;
}

.THIS input[type='range']:focus {
    outline: none;
}

.THIS input[type='range']:focus::-webkit-slider-runnable-track {
    background: #32738e;
}

.THIS .slds-checkbox_toggle [type='checkbox']:checked + .slds-checkbox_faux,
.THIS .slds-checkbox_toggle [type='checkbox']:checked ~ .slds-checkbox_faux {
    background-color: #32738e;
}

.THIS .slds-form-element__label {
    width: 110px;
}
